*{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4{
    font-family: 'Electrolize', sans-serif;
    color: blueviolet; margin-top: 0px; padding: 10px;
}

.Barra{
    position: sticky; top: 0px; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;
}

.Pic{
    height: 300px; width: 300px;
}

.Pic-Net{
    height: 100px; width: 100px;
}

.Btn:hover{
    background-color:black;
color: red
}

.Title{
    display: flex; justify-content: center; align-items: center; padding: 5px; margin: 5px;
}

ul{
    list-style-type: none; font-size: large; color: whitesmoke;
}

.foot-bar{
    height: 250px;
}

ol{
    list-style-type: none; font-size: large;
}

.Link-1{
    text-decoration: none;
}

.Link-2{
    text-decoration: none;
}
.Link-3{
    text-decoration: none;
}

.Link-4{
    text-decoration: none;
}
.Link-6{
    text-decoration: none; color: blueviolet;
}
.Link-5{
    text-decoration: none; color: blueviolet;
}